requests
pandas
numpy
lightgbm
scikit-learn
google-genai
tabulate
requests==2.31.0
PyMuPDF==1.23.8
python-dateutil==2.8.2
beautifulsoup4==4.12.3
pytz==2024.1
pdfplumber
bse
curl_cffi0.7.1
beautifulsoup44.12.3
pandas2.2.2
pymupdf1.24.2
textstat0.7.3
docling2.0.0
google-generativeai==0.7.0
